.sidebar{
    border: 1px solid red;
    float: right;
    width: 30%;
    height: 150px;
}

.main{
    border: 1px solid green;
    float: left;
    width: 65%;
    height: 150px;
}

p{
    position: absolute;
    top: 160px;
}

/* .float{
    float: left;
    width: 200px;
    background: yellow;
} */